<div class="container my-5">
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h1>{{team.name}}</h1>
		{{#if (or (eq user.role "admin") (eq user.role "manager"))}}
			<button class="btn btn-primary" onclick="createBoard('{{team.id}}')">
				<i class="fas fa-plus"></i> Create Board
			</button>
		{{/if}}
	</div>
	<div class="row">
		<div class="col-md-6">
			<h2>Team Members</h2>
			<ul class="list-group">
				{{#each members}}
					<li class="list-group-item d-flex justify-content-between align-items-center">
						<div>
							{{> user-avatar user=this}}
							{{display_name}} ({{role}})
						</div>
						{{> points-badge points=total_points}}
					</li>
				{{/each}}
			</ul>
		</div>
		<div class="col-md-6">
			<h2>Boards</h2>
			<div class="list-group">
				{{#each boards}}
					<a href="/boards/{{id}}" class="list-group-item list-group-item-action">
						<h5>{{name}}</h5>
						{{#if description}}
							<p class="mb-0">{{description}}</p>
						{{/if}}
					</a>
				{{/each}}
			</div>
		</div>
	</div>
</div>

