<div class="list-column" data-list-id="{{id}}">
	<div class="list-header">
		<h3>{{name}}</h3>
		{{#if (or (eq ../user.role "admin") (eq ../user.role "manager"))}}
			<button class="btn btn-sm btn-outline-secondary" onclick="editList('{{id}}')">
				<i class="fas fa-edit"></i>
			</button>
		{{/if}}
	</div>
	<div class="list-tasks" data-list-id="{{id}}">
		{{#each tasks}}
			{{> task-card task=this user=../user}}
		{{/each}}
	</div>
	{{#if (or (eq ../user.role "admin") (eq ../user.role "manager"))}}
		<button class="btn btn-primary btn-sm mt-2" onclick="createTask('{{id}}')">
			<i class="fas fa-plus"></i> Add Task
		</button>
	{{/if}}
</div>

